@font-face {
    src: url("../slider-project/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}

@font-face {
    src: url("../slider-project/fonts/Yeseva One/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
}

body {
    margin: 0;
    font-family: "Nunito Sans", Arial;
    background-color: white;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-family: 'Yeseva One','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}


/* секция 1 */

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
    width: 90%;
}

.header-navigation-item {
    margin-right: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.header-navigation-item a {
    text-decoration: none;
    color: white;
}

/* секция 2 */

.completed-projects {
    background-color: black;
    background-size: cover; 
}

.completed-projects-header-content nav{
    min-width: 100%;
}

.completed-projects-header-content nav ul{
    padding: 0px;
    justify-content: space-between;
}

.slider-nav{
    display: flex;
    margin-top: 75px;
    color: aliceblue;
    justify-content: left;
}

.circle, .slider__dots-item {
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    cursor:pointer;
    transition: background 0.4s ease;
}

.circle:hover,
.circle:active
 {
    background-color: white;
}

.leftarrow {
    margin-right: 30px;
    cursor:pointer;
}

.rigtharrow {
    margin-left: 30px;
    cursor:pointer;
}

.completed-projects-item a{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.3);
}

.completed-projects-item  a:hover {
    color: #E3B873;
    text-decoration:underline;
}


.completed-projects-container {
    display: flex;
    flex-direction: row;
    height: 967px;
    justify-content: space-between;
    margin: 0px 134.55px 416px 134.55px;
    margin: 0 auto;
}

.completed-projects-foto{
    width: 57%;
    margin-top: 80px;
}

.completed-projects-foto img {
    width: 100%;
    height: auto;
}

.completed-projects-content {
    display: flex;
    flex-direction: column;
    max-width: 37%;
}

.title-projects {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    padding-top: 130px;
 }

.completed-projects-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;    
    color: #FFFFFF;
}

.projects-data {
    display: flex;
    flex-direction: column;
}

.margin-right100{
    margin-right: 100px;
}

.margin-right70{
    margin-right: 70px;
}

.completed-projects-char {
    display: flex;
}

.item-inner p{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.item-inner h1 {
    color: #E3B873;
}

.slider {
    display: none;
}


/* с примера */

  
  .slider__images {
    position: relative;
    width: 679px;
    height: 482px;
  }
  
  /* .slider__images-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 7px 0;
  }
   */
  .slider__images .image {
    /* background-size: cover;
    background-position: center center; */
    /* width: 100%;
    height: 100%; */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
  }
  
  .slider__images .image.active {
    opacity: 1;
  }
  
  /* .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  } */
  
  .slider__arrow {
    position: absolute;
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider__arrow:hover {
    opacity: 1;
  }
  
  .slider__arrow.left {
    left: 0;
  }
  
  .slider__arrow.right {
    right: 0;
  }
  
  .slider__dots {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* left: 0;
    bottom: -20px;
    width: 100%; */
  }
  
  /* .slider__dots-item {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.4s ease;
  } */
  
  .slider__dots-item:hover, .slider__dots-item.active {
    background: white;
  }

/* mobile */

@media screen and (max-width: 1000px) {
     section:not(.mainfoto):not(.completed-projects):not(.control-types):not(.types-or-repair-block):not(.mobile-fantasy-room):not(.adress-background) {
        display: none;
     }


    .header-navigation {
        display: none;
    }

    .phonenumber {
         text-decoration-line: none;
    }

    .phonenumber a {
        color: #FFFFFF; 
    }

    .button {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }

    .mainfoto div .button {
        display:table;
        width: 100%;
        margin-top: 26px;
    }

    .mainfoto div .button.button-non-color {
        display:table;
        width: 100%;
        margin-top: 26px;
        margin-left: 0px;
    }

    .container {
        max-width: 94%;
    }

    .mainfoto {
        height: fit-content;
        padding-bottom: 61px;
        padding-top: 85px;
    }

    .title {
        font-size: 23px;
        line-height: 132.83%;
        padding-right: inherit;
    }

    .mainfoto-text {
        font-size: 14px;
        line-height: 135.84%;
        padding-right: inherit;
    }

    .completed-projects-foto {
        display: none;
    }

    .completed-projects-container {
        height: fit-content;
    }

    .title-projects {
        padding-top: 36px;
        text-align: center;
    }

    .completed-projects-content{
        max-width: 100%;
    }

    .completed-projects-text {
        font-size: 11px;
        line-height: 158.48%;
        /* or 17px */
        text-align: center;
    }

    .completed-projects-char h1 {
        font-size: 14px;
        line-height: 138.6%;
    }

    .item-inner p {
        font-size: 11px;
        line-height: 135.84%;
    }

    .margin-right100 {
        margin-right: 90px;
    }

    .slider {
        display: flex;
        margin: 72px auto 36px auto;
    }

    .sliderfoto {
        position: relative;
    }

    .sliderleft {
        position:absolute;
        left: 24px;
        bottom: 105px;
    }

    .sliderright {
        position:absolute;
        bottom: 105px;
        right: 24px;
    }

    .slider-nav {
        display: none;
    }

    .control-types {
        height: fit-content;
        background-color: black;
        margin-top: -18px;
    }
    
    .control-types-block {
        margin: auto;
        padding-top: 58px;
    }

    .camera-img {
        max-width: 90%;
        margin-bottom: 28px;
    }

    .videostart {
        top: 35%;
        width: 18%;
        left: 40%;
    }

    .online-control-text {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
    }

    .form-name-phone {
        width: 90%;
        flex-direction: column;
        margin-bottom: 26px;
    }

    label {
        color: rgba(255, 255, 255, 0.5);
    }

    input {
        width: 100%;
        background: black;
        border-bottom: 1px solid white;
        font-size: 14px;
        line-height: 138.72%;
        /* or 19px */
        color: #FFFFFF;
    }

    .checkbox {
        width: 90%;
        margin-bottom: 62px;
    }

    .checkbox-margin {
        margin-left: 0px;
    }

    label[for="click"] {
        color: #181818;
        font-size: 14px;
         line-height: 163.68%;                                                
        /* or 23px */
        color: #FFFFFF;
    } 

    label[for="click-question"] {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }   

    .label-margin {
        margin-bottom: 63px;
    }


    .hidden-submit {
        display: inherit;
       
        border-radius: 0px;  width: 90%;
        margin: auto;
    }

    .sdvig {
        position: relative;
        top: 35px;
    }

    .types-or-repair-block {
        margin-top: 83px;
    }

    .types-of-repair {
        flex-direction: column;
        margin-top: 40px;
    }

    .repair-text-block {
        margin-left: 0px;
    }

    .flat {
        margin-bottom: 220px; 
    }

    .flat:nth-child(3) {
        margin-bottom: 400px;
    }

    .repair-text-block h1 {
        font-size: 15px;
        line-height: 138.6%;
    }

    .repair-text-block ul {
    font-size: 13px;
    line-height: 169.8%;
    }    

    .square {
        left: 0px;
    }

    .request-block {
        display: none;
    }


    .fantasy-room {
        display: none;
    }

    .mobile-fantasy-room {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
    }

    .title.mobile-fantasy-title {
         width: 100%;
         margin: auto;
         position: absolute;
         top: -260px;
         text-align: center;
         display: inherit;
    }

    .title-projects.fantasy-room-title {
        font-size: 22px;
        line-height: 138.6%;
        margin-bottom: 145px;
    }

    .slider-fantasy-room {
        display: flex;
        margin: -120px auto 36px auto;
    }

    .sliderfoto-room {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .clients {
        display: none;
    }

    .adress-background {
        background-color: black;
        background-image: none;
        height: fit-content;
        position: inherit;
    }

    .questions-form {
        width: 100%; 
    }


    .adress {
        margin-top: 0px;
    }

    .questions-form {
        display: none;
    }

    
    .questions-form-mobile {
        display: flex;
        flex-direction: column;
        padding-top: 152px;
    }

    .adress-background-overlay {
        display: none;
    }

    .adress-background.mainfoto-container {
        width: 90%;
        margin: auto;
        position: relative;
    }

   .questions-block {
        width: 90%;
        height: fit-content;
        margin: auto;
    }

   .name-phone-container {
        width: 100%;
     }

  
    .questions-block div:nth-child(3) {
        margin-bottom: 50px;
    }

    .subtitle.adress-text {
        font-size: 18px;
        line-height: 138.6%;
    }

    .adress-map-container {
        flex-direction: column-reverse;
        margin-top: 0px;
        margin: auto;
        width: 90%;
        padding-bottom: 53px;
    }

    .map img {
        width: 100%;
    }

    .container.header-content.header-end {
        display: none;
    }
}

